.dc-shift-schedules-0:hover{background:#fef3c7 !important}
.dc-shift-schedules-1:hover{text-decoration:underline !important}
.dc-shift-schedules-2:hover{border-color:#6ee7b7 !important;background:#f0fdf8 !important}
.dc-shift-schedules-3:focus{border-color:#0f6e56 !important;box-shadow:0 0 0 3px #a7f3d0 !important}
.dc-shift-schedules-4:hover{border-color:#cbd5e1 !important;background:#f8fafc !important}
